<!DOCTYPE html>
<html ng-app="scopeWatch" lang="en">
<head>
  <meta charset="utf-8" />

  <title>scopeWatch</title>

  <link rel="stylesheet" href="styles.css" />
  <script src="lib.js"></script>
  <script src="app.js"></script>
</head>
<body>
  <h1>Hello Scope</h1>

  <div class="well" ng-controller="ControllerOne as oneCtrl">
    <fieldset>
      <legend>ControllerOne</legend>
      <label for="one">One: </label>
      <input type="text" id="one" ng-model="oneCtrl.num"/>
      <button type="button" ng-click="oneCtrl.addOne()">Add One</button>
    </fieldset>
  </div>

  <div class="well" ng-controller="ControllerTwo as twoCtrl">
    <fieldset>
      <legend>ControllerTwo</legend>
      {{ twoCtrl.num }}
    </fieldset>
  </div>

</body>
</html>
